.target {
	.target-with-WithShots-hoc {
		// position: relative;
		// background-color: lightgray;
		// border-radius: 50%;
		// transform: translate(-50%, -50%);
		// left: 50%;
		// top: 50%;  чтоб при 10  x, y = 0
	}
	&__bottom-interaction {
		margin-right: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
