.clickable-card {
	box-sizing: border-box;
	width: 500px;
	height: 70px;
	margin: 5px;
	background: rgb(255, 255, 255);
	border: 1px solid white;
	box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(6px);
	border-radius: 17px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	font-weight: bolder;
	color: black;

	&:hover {
		border: 1px solid black;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.95) rotateZ(1.7deg);
	}
}
