.base-page {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
	&__content {
		min-width: 500px;
	}
}

@media only screen and (min-width: 920px) {
	.base-page {
		&__menu {
			display: block;
		}
		&__content {
			min-width: 700px;
		}
	}
}
@media only screen and (max-width: 920px) {
	.base-page {
		&__menu {
			display: none;
		}
		&__content {
			margin-bottom: 55px;
		}
	}
	.base-page {
		&__content {
			max-width: 680px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.base-page {
		&__content {
			max-width: 450px;
		}
	}
}
